parameters:
    phpVersion: 80100
    level: 5
    paths:
        - src
    ignoreErrors:
        -
            identifier: booleanNot.alwaysTrue
        -
            identifier: property.onlyWritten
        -
            identifier: method.unused
        -
            identifier: property.unused
